body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    background-color: #000;
}

#canvas1 {
    border: 4px solid #ddd;
    background-color: #fff;
}

#logs {
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

#logs p {
    margin: 5px;
    margin-bottom: 10px;
    font-family: monospace;
    font-size: 14px;
    color: #333;
    text-overflow: clip;
    white-space: pre-wrap;
    word-break: break-all;
}

#display {
    position: relative;
    width: 400px;
    height: 400px;
}